@model DashboardViewModel

@{
    ViewData["Title"] = "Página inicial";
}

<partial name="_Notification" />
<section class="container mb-3">
    <div class="row">
        <div class="col-sm-6">
            <a href="@Url.Action("Index", "Contact")" class="link-card-home">
                <div class="card text-dark bg-light mb-3">
                    <img src="/images/contact.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Contatos</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="@Url.Action("Create", "Contact")" class="link-card-home">
                <div class="card text-white bg-success mb-3">
                    <img src="/images/register.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cadastrar novo contato</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<div class="custom-hr"></div>
<section class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="text-dark"><strong>Cadastros realizados</strong></h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Neste ano</div>
                <div class="card-body">
                    <h5 class="card-title">Total: <span class="badge badge-success">@Model.Year</span></h5>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Neste mês</div>
                <div class="card-body">
                    <h5 class="card-title">Total: <span class="badge badge-success">@Model.Mouth</span></h5>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Hoje</div>
                <div class="card-body">
                    <h5 class="card-title">Total: <span class="badge badge-success">@Model.Today</span></h5>
                </div>
            </div>
        </div>
    </div>
</section>